.container {
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer {
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100px;
}


.footer-content {
    background-color: #5F1B2D;
    padding: 100px 40px 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-main {
    margin: 50px 20px;
}

.footer-main h2 {
    color: #ffffff;
    font-size: 1.6rem;
}

.footer-main p {
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1.3rem;
}

.social-links {
    margin: 15px 0;
    display: flex;
    gap: 8px;
}

.social-links a {
    padding: 5px;
    background-color: #dbd8e3;
    border-radius: 5px;
    transition: 0.5s;
    text-decoration: none;
}

.social-links a:hover {
    opacity: 0.7;
}

.social-links a i {
    margin: 2px;
    font-size: 1.1rem;
    color: #201e1e;
}

.links {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 40px 20px;
}

.links p {
    font-size: 1.3rem;
    margin-bottom: 15px;
    font-weight: 600;
    color: #ffffff;
}

.links a {
    font-size: 0.8rem;
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: 600;
    color: #dbd8e3;
    transition: 0.5s all;
}

.links a:hover {
    color: #303035;
}

span {
    color: #C79B66;
}

/*RESPONSIVE DESIGN*/

@media screen and (max-width: 960px) {
    main {
        flex: 100%;
        width: 100%;
        height: calc(100%-3 * var(--h-footer));
    }

    header{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    .responsive{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    main,
    aside {
        flex: 100%;
    }

    main {
        height: calc(100%-3 * var(--h-footer));
    }

    aside {
        height: var(--h-footer);

    }

}

@media screen and (max-width: 715px) {
    .container {
        height: 100%;
        width: 100%;
    }

    .buscadores {
        width: 100%;

    }
}